@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,600;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.auth {
    height: 100vh;
    color: #fff;
    background-color: #323556;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__title {
    margin-bottom: 20px;
    text-align: center;
}

.form__field {
    margin-bottom: 10px;
}

.form__label {
    font-size: 14px;
}

.form__input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #5f616f;
    padding: 5px 10px;
    color: #fff;
}

.form__input:focus {
    outline: none;
}

.button {
    margin-top: 5px;
    padding: 10px 20px;
    width: 100%;
    color: #fff;
    font-weight: bold;
    text-decoration: none;

    background: transparent;
    display: inline-block;
    border: 2px solid #5f616f;
    cursor: pointer;

    transition: background-color .7s ease;
}

.button:hover {
    background-color:gold;
    color:#5f616f;
}

.notify {
    position: fixed;
    z-index: 5;
    bottom: 20px;
    right: 20px;
}
.notify__message > p {
    color:aliceblue;
}

.view {
    height: 100vh;
    color: #fff;
    background-color: #323556;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
