* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 309px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, .3);
}

.calculator__preview {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.calculator__input {
    border: none;
    width: 100%;
    padding: 12px 24px;
    font-size: 48px;
    line-height: 60px;
    text-align: right;
}

.calculator__input:focus {
    outline: none;
}

.calculator__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.calculator__button {
    text-align: center;
    background-color: #fff;
    border: 0;
    height: 48px;
    width: 76px;
    font-size: 13px;
    cursor: pointer;
}

.calculator__button:hover {
    background-color: rgba(0, 0, 0, .01);
}

.calculator__button--big {
    width: 153px;
}

.calculator__button:nth-child(4n) {
    background-color: #fc0;
    box-shadow: 1px 1px 0 #d1a700, -1px -1px 0 #d1a700, 1px -1px 0 #d1a700, -1px 1px 0 #d1a700;
}

.calculator__button:nth-child(4n):hover {
    background-color: rgba(255, 104, 2, 0.8);
}

.calculator__button:last-child {
    background-color: #fc0;
    box-shadow: 1px 1px 0 #d1a700, -1px -1px 0 #d1a700, 1px -1px 0 #d1a700, -1px 1px 0 #d1a700;
}

.calculator__button:last-child:hover {
    background-color: rgba(255, 104, 2, 0.8);
}