body {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 700;
}

img {
    margin: 0 auto;
}

p {
    text-align: center;
    font-size: 20px;
}

footer {
    margin-top: 100px;
}

svg {
    width: 45px;
    height: 44.5px;
}
