* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 50px;
}

img {
    margin: 0 auto;
}

form {
    margin-top: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: 50px 50px 200px 50px;
    grid-gap: 20px;
}

.label-name, .label-type {
    grid-column: 1 / 2;
    justify-self: end;
    align-self: center;
}

.label-email, .label-var{
    grid-column: 3 / 4;
    justify-self: end;
    align-self: center;
}

.label-text {
    grid-row: 3 / 4;
    justify-self: end;
    align-self: center;
}

input {
    padding: 5px;
    align-self: center;
}

.checkbox-wrap {
    display: flex;
    flex-direction: column;
}

.buttons {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.textarea-feedback {
    padding: 5px;
    grid-column: 2 / -1;
}

select {
    align-self: center;
    height: 37px;
}

button {
    width: 100px;
    border: none;
    font-size: 17px;
    border-radius: 3px;
    background-color:cornflowerblue;
    color:aliceblue;
}

a {
    width: 100px;
    border-radius: 3px;
    font-size: 17px;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    background-color: cadetblue;
    color:aliceblue;

}

footer {
    margin-top: 100px;
    text-align: center;
}
