.layout {
  width: 100%;
  max-width: 1024px;
  margin: auto;
  background-color: white;
  border-collapse: collapse;
}



.layout tr td {
  padding: 20px;
  vertical-align: top;
  border: solid 1px gray;
}



.header {
  font-size: 30px;
}



.footer {
  text-align: center;
}



.sidebarHeader {
  font-size: 20px;
}




a, a:visited {
  color: darkgreen;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

form textarea {
  margin-top: 5px;
}

button {
  margin-top: 5px;
  max-width: max-content;
  padding: 5px 10px;
}

ul {
  list-style: none;
  padding: 0
}

ul > li {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}